* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6fb;
}

/* HEADER */
.header {
  background: #e5dddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.logo {
  height: 40px;
}

.journey-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background:white;
  color: #111010;
  padding: 20px;
  transition: width 0.35s ease, padding 0.35s ease;
}
.sidebar h3{
  margin-top: 0px;
  width: 240px;
  height: 40px;
  padding: 20px;
  background: #000;
  color: white
  ;
}
/* HIDDEN STATE */
.sidebar.hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* OPTIONAL: main content full width feel */
.sidebar.hidden + .main {
  margin-left: 0;
}


/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* TITLE */
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-bar h1{
  color: #2563eb;
 
}
.submit-btn {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
}

/* INTRO */
.journey-intro {
  background: #fff3cd;
  padding: 15px;
  border-left: 4px solid #facc15;
  margin: 15px 0;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,.1);
  overflow: hidden;
}

/* CARD HEADER */
.card-header {
  background: #000;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* ACCORDION */
.card-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: all 0.4s ease;
}

.card-body.open {
  max-height: 500px;
  padding: 15px;
}

.task-image {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}
